body{
	margin:0;
	font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}



.middle{
	max-width:1140px;
	width:100%;
	margin:0 auto;
}

.section-padding{
	padding:70px 0;
}

/* Section Title */

.section-title{
	text-align:center;
}
.section-title h2{
	color:#0f5f5c;
	font-size:32px;
	font-weight:300;
	padding-bottom:15px;
	margin-bottom:15px;
	position:relative;
}
.section-title h2:after{
	content:"";
	position:absolute;
	width:75px;
	height:2px;
	background:#6fb048;
	bottom: 0;
	left: 47%;
}
.section-title p {
	color: #83a7a5;
	font-size: 15px;
	font-weight: 400;
	width: 40%;
	margin: auto;
}


/* Header Area */

.header-area{
	background:url(header-bg.jpg) no-repeat scroll 0 0 / 100% 100%;
	position:relative;
	z-index:1;
}
.header-area:before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(3, 86, 87, 0.77);
	z-index:-1;
}
.header-top-area{
	padding:15px 0;
	overflow:hidden;
	border-bottom:1px solid #4c6d6d;
	z-index:1;
}
.top-left{
	width:30%;
	float:left;
}
.top-left ul{
	margin:0;
	padding:0;
	list-style:none;
}
.top-left ul li{
	float:left;
}
.top-left ul li a {
	color: #FFF;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height:26px;
	display:flex;
}
.top-left ul li a i {
	padding-right: 5px;
}

.top-left ul li a.logo {
	text-transform: uppercase;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	font-size: 28px;
	padding-right: 20px;
	border-right: 2px solid #608484;
	margin-right: 20px;
}


.top-right{
	width:70%;
	overflow:hidden;
}
.top-right ul{
	float:right;	
}
.top-right ul li{
	float:left;
}
.top-right ul li a {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}
.top-right ul li a.active{
	font-weight:600;
}
.top-right ul li a.get_button{
	background:#6b7f7f;
}
.top-right ul li a.get_button:hover{
	background:#586969;
}


.banner {
	padding-top: 15%;
	padding-bottom: 10%;
	color:#FFF;
}
.banner h1{
	font-size:38px;
	font-weight:500;
	padding-bottom:15px;
}
.banner p{
	font-size:16px;
	font-weight:400;
	padding-bottom:15px;
	line-height: 25px;
}
.banner a {
	background: #6fb048;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	font-weight: 500;
	padding: 13px 36px;
	display: inline-block;
	font-size: 14px;
}
.banner a:hover{
	background:#48921b;
}



/* Features Area */

.features-top-area {
	overflow: hidden;
	margin-top: 50px;
}

.feature-single-item {
	width: 33.33%;
	float: left;
	overflow: hidden;
	text-align: center;
}
.feature-single-item img{
	margin-bottom:15px;
	height:55px;
}
.feature-single-item h3{
	font-size:16px;
	color:#0f5f5c;
	font-weight:400;
	padding-bottom:15px;
}
.feature-single-item p {
	color: #83a7a5;
	font-size: 14px;
	font-weight: 400;
	width: 86%;
	margin: 0 auto;
	line-height: 22px;
}
.feature-border {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 45px;
}




/* Feature Bottom Single Items */
.features-bottom-area {
	overflow: hidden;
}

.feature-bottom-single-item {
	width: 47%;
	float: left;
	overflow: hidden;
	margin-bottom: 50px;
	margin-left:3%;
}
.feature-bottom-single-item h3{
	color:#0f5f5c;
	font-size:16px;
	font-weight:400;
	padding-bottom:15px;
	display:flex;
}
.feature-bottom-single-item h3 img{
	margin-right: 20px;
}
.feature-bottom-single-item h3 span {
	padding-top: 5px;
}

.feature-bottom-single-item p{
	font-size:14px;
	color:#83a7a5;
	font-weight:400;
	width: 95%;
}

/* Looking Template Style */
.looking-template-area{
	background:#EFF1EC;
	padding-bottom:0;
}

.template-content-area{
	overflow:hidden;
	padding-top:15px;
}

.template-left{
	width:50%;
	float:left;
	text-align: center;
}
.template-left img{
	height:100%;
}
.template-right{
	width:50%;
	overflow:hidden;
	padding-top:10%;
}


.template-right h3{
	color:#2E726F;
	font-weight:300;
	font-size:32px;
	padding-bottom:15px;
}
.template-right p{
	color:#83A7A5;
	font-weight:400;
	font-size:14px;
	padding-bottom:15px;
	line-height: 25px;
}
.template-right ul li i {
	color: #83A7A5;
	font-size: 18px;
	padding-right: 15px;
}
.template-right ul li{
	color:#83A7A5;
	font-weight:400;
	font-size:14px;
	padding-bottom:5px;
	line-height: 25px;
}


/* Client Review Style */

.client-left{
	width:50%;
	float:left;
	padding-top: 10%;
}

.client-left p {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 22px;
	color: #83a7a5;
	margin-bottom: 30px;
	line-height: 40px;
	width: 90%;
}
.client-left h4{
	color:#6fb048;
	font-weight:500;
	font-size:14px;
	
}
.client-left h5{
	color:#83a7a5;
	font-weight:400;
	font-size:14px;
}


.client-right{
	width:50%;
	overflow:hidden;
	text-align:right;
}


/* Built Area */

.built-area{
	background:#EFF1EC;
	overflow:hidden;
}
.built-left {
	width: 50%;
	float: left;
	padding-left: 8%;
	box-sizing: border-box;
	padding-top:6%;
}
.built-left h2{
	color:#0F5F5C;
	font-size:32px;
	font-weight:300;
	padding-bottom:15px;
}
.built-left p{
	color:#83A7A5;
	font-weight:400;
	font-size:14px;
	width: 85%;
	line-height: 23px;
}
.built-right{
	width:50%;
	overflow:hidden;
}


/* Pricing Table Area */

.table-area {
	overflow: hidden;
	width: 75%;
	margin: auto;
	margin-top: 35px;
}
.single-table {
	text-align: center;
	width: 33.33%;
	float: left;
	overflow: hidden;
	border: 1px solid #82A7A5;
	border-right:none;
	box-sizing: border-box;
	padding: 25px 0;
}
.single-table:last-child{
	border-right: 1px solid #82A7A5;
}

.single-table h3{
	color:#6FB048;
	font-weight:500;
	font-size:15px;
	text-transform:uppercase;
	padding-bottom:10px;
}

.single-table h1 {
	color: #0F5F5C;
	font-weight: 700;
	font-size: 55px;
	font-family: 'Montserrat', sans-serif;
}

.single-table p {
	color: #0f5f5c;
	font-size: 14px;
	font-weight: 500;
	padding-bottom: 20px;
}

.single-table ul{}
.single-table ul li{
	color:#83a7a5;
	font-size:14px;
	font-weight:400;
	padding-bottom:10px;
}

.single-table a {
	background: #82A7A4;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	padding: 12px 25px;
	font-weight: 600;
	display: inline-block;
	margin-top: 10px;
	border-radius: 3px;
	transition:.5s;
}
.single-table a:hover{
	background:#6FA84A;
}
.table-bottom-content{
	margin-bottom:35px;
	margin-top:10px;
	overflow:hidden;
}

.table-bottom-content .section-title h2{
	font-size:22px;
	padding-top:40px;
}


.table-list-item {
	width: 33.33%;
	float: left;
	overflow: hidden;
}
.table-list-item ul li{
	color: #83A7A5;
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 5px;
	line-height: 25px;
}
.table-list-item ul li i{
	color: #83A7A5;
	font-size: 18px;
	padding-right: 15px;
}

.need-help-area{
	text-align:center;
}

.need-help-area .section-title i {
	color: #6FB048;
	font-size: 40px;
	margin-bottom: 5px;
}
.need-help-area .section-title h2{
	color:#6FB048;
}

.need-help-area a{
	color:#0f5f5c;
	font-size:18px;
	font-weight:500;
	text-decoration:none;
	display:block;
	margin-top:40px;
}

/* Download Area */
.download-area{
	background:url(images/download-bg.jpg) no-repeat scroll 0 0 / 100% 100%;
}
.download {
	overflow: hidden;
}

.download-left{
	width:60%;
	float:left;
}
.download-left h3{
	color:#0F5F5C;
	font-weight:300;
	font-size:28px;
	padding-bottom:5px;
}
.download-left p{
	color:#83A7A5;
	font-size:15px;
	font-weight:400;
}
.download-right{
	width:40%;
	overflow:hidden;
	text-align:right;
}
.download-right a {
	color: #FFF;
	background: #6FB048;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	display: inline-block;
	font-weight: 500;
	padding: 9px 22px;
	margin-top:20px;
}
.download-right a:hover{
	background:#67B936;
}
/* Footer Area */
.footer-area{
	
}
.footer-area{
	
}
.footer-top-area{
	overflow:hidden;
}
.footer-item {
	width: 25%;
	float: left;
	overflow: hidden;
}
.footer-logo {
	text-transform: uppercase;
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	font-size: 28px;
	color: #22615C;
	padding-bottom: 15px;
}
.footer-item h2 {
	color: #0F5F5C;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 20px;
}
.footer-item ul{}
.footer-item ul li{}
.footer-item ul li a {
	text-decoration: none;
	color: #83A7A5;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 13px;
	display: block;
}
.footer-item ul li a i{}

.footer-item p{
	color: #83A7A5;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 13px;
}
.footer-item form{
	position:relative;
}

.footer-item form input {
	background: #EFF1EC;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 15px;
	color: #83A7A5;
	font-weight: 500;
	font-size: 14px;
	border-radius: 3px;
	border: 1px solid transparent;
}

.footer-item form button:hover{
	color:#67B936;
}

.footer-item form input:focus{
	border:1px solid #6FB048;
	box-shadow:0 0 5px #6FB048;
}
.footer-item1 ul li a i,
.footer-item1 ul li i{
	margin-right:10px;
}
.footer-item1 ul li:first-child a{
	font-weight:600;
} 

.footer-item1 ul li:last-child {
	display:flex;
	color: #83A7A5;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 13px;
	line-height:25px;
}
.footer-item1 ul li:last-child i{
	padding-top:7px;
}

/* Footer Bottom Aarea */

.footer-bottom-area {
	overflow: hidden;
	border-top: 1px solid #ccc;
	padding: 25px 0;
}

.footer-bottom-left{
	width:50%;
	float:left;
	
}
.footer-bottom-left p{
	color:#83A7A5;
	font-size:14px;
	font-weight:400;
	padding-top: 5px;
}
.footer-bottom-left p a{
	color:#22615C;
	text-decoration:none;
	font-weight:600;
}
.footer-bottom-right{
	width:50%;
	overflow:hidden;
}
.footer-bottom-right ul{
	float:right;
}
.footer-bottom-right ul li{
	float:left;
}
.footer-bottom-right ul li a {
	width: 30px;
	height: 30px;
	text-decoration: none;
	display: block;
	color: #FFF;
	border-radius: 50%;
	margin: 0 5px;
	font-size: 17px;
	text-align: center;
	line-height: 30px;
}
.footer-bottom-right ul li:nth-child(1) a{
	background:#559FDC;
}
.footer-bottom-right ul li:nth-child(2) a{
	background:#385A93;
}
.footer-bottom-right ul li:nth-child(3) a{
	background:#507192;
}
.footer-bottom-right ul li:nth-child(4) a{
	background:#DC729A;
}
.footer-bottom-right ul li:nth-child(5) a{
	background:#343434;
}



