@media all and (max-width:1140px){
	.middle{
		width:95%;
	}
}


@media all and (max-width:990px){
	.top-left{
		width:100%;
		float:none;
	}
	.top-left ul{
		text-align:center;
	}
	.top-left ul li{
		float:none;
		display:inline;
	}
	.top-left ul li a{
		display:inline-block;
	}
	.top-right{
		width:100%;
		padding-top:10px;
	}
	.top-right ul{
		float:none;
		text-align:center;
	}
	.top-right ul li{
		float:none;
		display:inline;
	}
	.top-right ul li a{
		display:inline-block;
	}
	
	
	
}

@media all and (max-width:767px){
	
	.section-title p{
		width:90%;
	}
	
	.feature-single-item{
		width:100%;
		margin-bottom:50px;
	}
	.feature-border {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.template-left{
		width:100%;
		float:none;
	}
	.template-right{
		width:100%;
		padding-top:3%;
		padding-bottom: 50px;
	}
	.client-left p{
		width:100%;
		font-size:18px;
		line-height:28px;
	}
	.client-left{
		width:100%;
		float:none;
		padding-top:0;
		text-align:center;
		padding-bottom:20px;
	}
	.client-right{
		width:100%;
		text-align:center;
	}
	.section-padding{
		padding:40px 0;
	}
	
	
}

@media all and (max-width:570px){
	.top-right ul li{
		display:block;
	}	
	.banner{
		text-align:center;
	}
	.banner h1{
		font-size:30px;
	}
	.feature-bottom-single-item{
		width:100%;
		margin-left:0;
		float:none;
	}
	.client-right img{
		max-width:240px;
		width:100%;
		margin:auto;
	}	
	
	
}

@media all and (max-width:400px){
	.top-left ul li{
		display:block;
	}
	.top-left ul li a.logo{
		padding-right:0;
		margin-right:0;
		border-right:none;
	}
	.section-title h2{
		font-size:28px;
	}
	.section-title h2::after{
		left:40%;
	}
	.section-title p{
		font-size:13px;
		width:98%;
	}
	
}





